.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: azure;
    /* Not removed via appearance */
    margin: 0;
  }
  input[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: rotate(-45deg);
    border: 3px solid red;
    background-color: #050505;
  }
  input[type="checkbox"] {
    margin: 6px 4px;
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: "";
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: rotate(-45deg);
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em red;
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  