@keyframes saved {
    50% {
        background-color: darkgreen;
    }
    100% {
        background-color: #050505;
    }
}
.saved {
    animation: saved 1.5s ease;
    animation-iteration-count: 1;
}
body {
    width: 748px;
    font-family: "Megrim", Helvetica, Arial, sans-serif;
    background-color: #050505;
    color: azure;
}
img {
    width: 100%;
}
input,
textarea {
    background: #050505;
    font-family: "Megrim", Helvetica, Arial, sans-serif;
    color: azure;
}
textarea {
    width: 100%;
    height: 60px;
    font-size: 12px;
    resize: none;
    border: none;
}
.topBar {
    display: flex;
    justify-content: space-between;
}
.gangRating {
    border: 4px solid azure;
    width: max-content;
    padding: 4px;
}
#gangRating {
    color: red;
    font-weight: 700;
}
@keyframes bob {
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
.tutorial {
    position: absolute;
    color: yellow;
    font-weight: 700;
    text-align: center;
    animation: bob 3s infinite ease;
}
.step1 {
    top: 4px;
    left: 270px;
    text-align: left;
}
.rollADice {
    top: 296px;
    left: 670px;
    text-align: left;
}
.saveProgress {
    top: 4px;
    left: 610px;
    text-align: left;
}
.addName {
    top: 80px;
    left: 14px;
    text-align: left;
}
.adjustStats {
    top: 210px;
    left: 380px;
    text-align: right;
}
.adjustStatus {
    top: 210px;
    left: 240px;
}
.adjustWounds {
    top: 210px;
    left: 110px;
    text-align: left;
}
.adjustWeapons {
    top: 210px;
    left: 544px;
    text-align: right;
}
.adjustCostExp {
    top: 80px;
    left: 608px;
}
.remGanger {
    top: 210px;
    left: 698px;
    text-align: right;
}
.invEquipmentModal,
.killGangerModal {
    position: absolute;
    left: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30%;
    top: 30%;
    position: fixed;
    z-index: 100;
}
.killGangerModal .result {
    text-align: center;
}
.killGangerModal button {
    margin: 20px auto;
    border: solid 4px red;
    border-radius: 6px;
    background: #050505;
    color: azure;
    font-family: "Megrim", Helvetica, Arial, sans-serif;
    height: 30px;
    width: 100px;
}
#weaponName,
#gangerToKill {
    font-weight: 700;
    font-size: 16px;
    color: red;
}
.weaponStat {
    display: flex;
    flex-direction: column;
}
.distanceHit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid azure;
    margin-bottom: 4px;
}
.addEquipmentModal {
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #050505;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    padding: 2px;
    border: 8px solid azure;
    border-radius: 12px;
}
.options {
    padding: 4px;
    overflow-y: scroll;
    border: 4px solid azure;
    border-radius: 4px;
}
.topRow {
    display: grid;
    grid-template-columns: 140px 27px 95px 75px 35px 35px 32px 30px 190px;
    grid-column-gap: 5px;
}
.row {
    display: grid;
    grid-template-columns: 140px 27px 45px 45px 35px 35px 35px 35px 32px 30px 190px;
    grid-column-gap: 5px;
    text-align: center;
    cursor: pointer;
}
.row.ignore {
    cursor:auto;
}
.row:not(.weaponStats):hover {
    background: azure;
    color: #050505;
}
.options .ignore {
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    font-weight: 700;
}
.roll {
    background: #050505;
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 125%;
    overflow: hidden;
    border: none;
}
.roll p {
    margin: 0;
}
.itemRow span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.result {
    background: #050505;
    width: 90%;
    position: relative;
    z-index: 10;
    border: 8px solid azure;
    border-radius: 12px;
    padding: 6px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.remove,
.close,
.closeItem {
    border: 1px solid azure;
    border-radius: 12px;
    font-size: 125%;
    background-color: darkred;
    padding: 0 8px;
    text-align: center;
    margin-top: 10px;
}
.gangMember {
    display: flex;
}
.status {
    font-weight: bold;
}
.pinned {
    background: sienna;
}
.downed {
    background: brown;
}
.dead {
    background: #4d0000;
}
.memberName {
    width: 100px;
    border: 1px solid azure;
}
input[type="text"] {
    width: 80px;
    font-size: 12px;
    border: none;
    font-weight: 700;
}
.memberName,
.memberNumber,
.costBox,
.expBox,
.removeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid azure;
}
.memberNumber,
.costBox,
.expBox,
.removeBox {
    width: 40px;
    font-size: 20px;
}
.costBox,
.expBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80%;
}
.fw {
    display: flex;
    align-items: center;
}
input.gangerExp,
input.gangerCost,
input.gangerRemove {
    width: 30px;
    text-align: center;
    font-size: 16px;
}
.characteristicsBox {
    border: 1px solid azure;
    display: flex;
    flex-direction: column;
}
.statsBox {
    display: flex;
}
.stat {
    display: flex;
    flex-direction: column;
    border: 1px solid azure;
}
.stat input {
    width: 32px;
}
.equipmentBox {
    border: 1px solid azure;
    width: 240px;
    position: relative;
}
.addEquipment {
    width: 50px;
    font-size: 16px;
    border: 2px solid azure;
    font-weight: 700;
    border-radius: 4px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
}
input[type="number"]::-webkit-inner-spin-button {
    background-color: #050505;
    color: azure;
}
.diceRoller {
    position: fixed;
    right: 0;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleDiceRoll,
.doubleDiceRoll {
    width: 130px;
    height: 130px;
}
.rollButton {
    width: 90px;
    height: 40px;
    font-size: 16px;
    border: 2px solid azure;
    font-weight: 700;
    border-radius: 4px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.diceResults,
.diceButtons {
    display: flex;
}
.diceResults {
    flex-direction: column;
}
.rollResult {
    font-size: 48px;
    font-weight: bold;
}
.largeDivider {
    height: 90px;
}
@media (max-width: 968px) {
    .rollADice {
        top: 66px;
        left: 230px;
        text-align: left;
    }
    .diceRoller {
        position: relative;
        flex-direction: row;
        width: 748px;
    }
    .singleDiceRoll,
    .doubleDiceRoll {
        max-width: 65px;
        max-height: 65px;
    }
    .diceResults {
        flex-direction: row;
    }
    .diceButtons {
        margin: 20px 192px;
    }
    .largeDivider {
        display: none;
    }
}
@media (max-width: 768px) {
    .equipmentBox {
        font-size: 80%;
    }
}